
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 24px;
  padding: 24px;

  &__title {
    font-weight: 600;
    font-size: 42px;
    text-align: center;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 24px;
    margin-top: 16px;
    text-align: center;
  }

  &__name {
    max-width: 640px;

    font-weight: 600;
    font-size: 24px;
    color: #008cff;
    text-align: center;
    margin-top: 16px;
  }

  &__image {
    width: 480px;
    margin-top: 36px;
  }

  &__button {
    margin-top: 48px;
    max-width: 240px;
  }
}
