.app_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  overflow: auto;
  min-height: 0px;
  height: calc(100vh - 140px);
  max-width: 1024px;
  margin: 24px auto;

  &__title {
    font-weight: 600;
    font-size: 42px;
    text-align: center;
  }

  &__description {
    font-size: 18px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__image {
    width: 80%;
    margin: 16px 0;
  }

  &__big_image {
    max-width: 420px;
  }
}