@use "../../index.scss" as global;

.maket {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  height: calc(100vh - global.$header-height - 2px);
  overflow-y: auto;

  &__title {
    font-size: 24px;
    max-width: 420px;
    padding-bottom: 24px;
    text-align: center;
  }

  &__wrapper_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }

  &__button_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    gap: 10px;
  }

  &__button {
    width: 100%;
  }

  &__image_signal {
    max-width: 480px;
    user-select: none;
  }

  &__modal_output {
    width: 95% !important;
    max-width: 1400px;
    min-width: 1000px;
    height: 700px !important;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 420px;
  }

  &__container {
    display: flex;
  }
}
