.conclude {
  margin-top: 24px;
  height: calc(100vh - 60px);
  overflow-y: auto;

  &__wrapper {
    max-width: 680px;
    margin: auto;
    padding: 24px;
  }

  &__title {
    font-weight: 600;
    font-size: 42px;
    text-align: center;
  }

  &__list {
    width: 100%;
  }
}
