@use '../../index';

.header {
  width: 100%;
  height: index.$header-height;
  box-shadow: 2px 2px 4px #00000070;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
  }
}